<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mas cercano</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container mt-4">
	<h2>Esto es lo mas cercano encontrado</h2>
		<table class="table">
			<thead></thead>
				<tr>
					<th>ID</th>
					<th>LATITUD</th>
					<th>LONGITUD</th>
				</tr>
			<tbody>
				<tr>
					<td th:text="${cercano.id}"></td>
					<td th:text="${cercano.latitud}"></td>
					<td th:text="${cercano.longitud}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/listar}" class="btn btn-primary">Volver</a>
	</div>
</body>
</html>